[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/thedmd/imgui.git
[submodule "external/nvrhi"]
	path = external/nvrhi
	url = https://github.com/NVIDIAGameWorks/nvrhi.git
[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "external/autodiff"]
	path = external/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "source/Core/rznode"]
	path = source/Core/rznode
	url = https://github.com/Jerry-Shen0527/rznode.git
[submodule "source/Editor/geometry"]
	path = source/Editor/geometry
	url = https://github.com/USTC-CG-NEXT/GCore.git
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra.git
