.cache/
build/
build_2/
bin/
libs/
.vscode
imgui.ini
.DS_Store
.vs
*.zip
*/.slangtorch_cache/*
/source/RHI/source/nvrtc_config.h
/source/Core/RHI/source/nvrtc_config.h
/source/nodes/nodes/functions/NODES_FILES_DIR.h
/Assets
/source/Runtime/renderer/nodes/shaders/shaders/.slangtorch_cache/physical_lens_raygen_torch/b9c103f6b206b8e5
/source/Core/nodes/nodes/functions/NODES_FILES_DIR.h
/source/Core/RHI/source/nvrtc_config.h
SDK/
Binaries/
build/
.vs/
.vscode/
out/
CMakeSettings.json
.VSCodeCounter/
SDK.zip
*.user
.cache/
*.exr
__pycache__/
.pytest_cache/
.slangtorch_cache/
Assets/
.idea
cmake-build-*/
submissions/lisi_homework
*_gfgf.*
*.log
.venv
.python-version